# Pandas

In [1]:
import pandas as pd

In [2]:
dataSeries = pd.read_csv("https://andybek.com/pandas-drinks", usecols=['wine_servings', 'country'], index_col='country').squeeze()
dataSeries.head(5)

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [3]:
# remove null
data = dataSeries[dataSeries.notnull()]
data.head(5)

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Name: wine_servings, dtype: float64

In [4]:
data.sum()

8221.0

In [5]:
data.hasnans

False

# index vy min/max
* idxmin(): 
    - returns the label od the row with minimum value
* idxmax(): 
    - returns the label of the row with maximum value

* [note]: if multiple min/max value occur only return the first value.

In [6]:
# most wine consumed country
data.max()

339.0

In [7]:
data[data == data.max()]

country
Portugal    339.0
Name: wine_servings, dtype: float64

In [8]:
data.idxmax()

'Portugal'

In [9]:
data[data.idxmax()]

339.0

In [10]:
# minimum wine consumed country
data.min()

1.0

In [11]:
data.idxmin()

'Brunei'

In [12]:
data[data == data.min()].value_counts()

wine_servings
1.0    28
Name: count, dtype: int64

In [13]:
data[data == data.min()]

country
Brunei                      1.0
Cambodia                    1.0
Canada                      1.0
Central African Republic    1.0
Chad                        1.0
Comoros                     1.0
DR Congo                    1.0
Egypt                       1.0
Fiji                        1.0
Gambia                      1.0
Ghana                       1.0
Guyana                      1.0
Haiti                       1.0
Jordan                      1.0
Kiribati                    1.0
Malawi                      1.0
Mali                        1.0
Morocco                     1.0
Namibia                     1.0
Nicaragua                   1.0
Niger                       1.0
Oman                        1.0
Papua New Guinea            1.0
Philippines                 1.0
Solomon Islands             1.0
Thailand                    1.0
Tanzania                    1.0
Vietnam                     1.0
Name: wine_servings, dtype: float64

# sorting
* sort_values()

In [14]:
data.sort_values(ascending=False)

country
Portugal                    339.0
Andorra                     312.0
Denmark                     278.0
Slovenia                    276.0
Luxembourg                  271.0
                            ...
Jordan                        1.0
Solomon Islands               1.0
Central African Republic      1.0
Haiti                         1.0
Chad                          1.0
Name: wine_servings, Length: 162, dtype: float64

In [15]:
data.sort_values(ascending=False)

country
Portugal                    339.0
Andorra                     312.0
Denmark                     278.0
Slovenia                    276.0
Luxembourg                  271.0
                            ...
Jordan                        1.0
Solomon Islands               1.0
Central African Republic      1.0
Haiti                         1.0
Chad                          1.0
Name: wine_servings, Length: 162, dtype: float64

# largest/smallest 
* nlargest()
* nsmallest()

In [16]:
data.sort_values(ascending=False)[:10]

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Name: wine_servings, dtype: float64

In [17]:
data.nlargest(10)

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Name: wine_servings, dtype: float64

In [18]:
data.nsmallest(10)

country
Brunei                      1.0
Cambodia                    1.0
Canada                      1.0
Central African Republic    1.0
Chad                        1.0
Comoros                     1.0
DR Congo                    1.0
Egypt                       1.0
Fiji                        1.0
Gambia                      1.0
Name: wine_servings, dtype: float64

# sort by index
* sort_index()

In [19]:
data.sort_index()

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

# fifty plus wine servings

In [20]:
fifty_plus = data[data > 50]
fifty_plus.head(5).sort_values()

country
Albania       54.0
Austria      191.0
Australia    212.0
Argentina    221.0
Andorra      312.0
Name: wine_servings, dtype: float64

In [21]:
fifty_plus.count()

48

In [22]:
lowest_fifty = fifty_plus.nsmallest(20)
lowest_fifty.sort_values()

country
Bahamas                51.0
Seychelles             51.0
Albania                54.0
Lithuania              56.0
Poland                 56.0
Estonia                59.0
Gabon                  59.0
Latvia                 62.0
St. Lucia              71.0
Russian Federation     73.0
Cook Islands           74.0
Paraguay               74.0
Iceland                78.0
South Africa           81.0
USA                    84.0
Macedonia              86.0
Bulgaria               94.0
Finland                97.0
Spain                 112.0
Cyprus                113.0
Name: wine_servings, dtype: float64

In [23]:
lowest_fifty.mean()

74.25

In [24]:
lowest_fifty.median()

73.5

In [25]:
lowest_fifty.std()

19.07292100831631

# Basic arithmatic
* add(fill-value=0)
* sub()
* divide()
* multiply()

In [26]:
new_data = data.head(5)
new_data

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Name: wine_servings, dtype: float64

In [27]:
to_add = pd.Series({'test_country': 100, 'test_country2': 250})
to_add

test_country     100
test_country2    250
dtype: int64

In [28]:
new_data + to_add

Albania             NaN
Algeria             NaN
Andorra             NaN
Angola              NaN
Antigua & Barbuda   NaN
test_country        NaN
test_country2       NaN
dtype: float64

In [29]:
series_added = new_data.add(to_add, fill_value=0)
series_added

Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
test_country         100.0
test_country2        250.0
dtype: float64

In [30]:
series_added - to_add

Albania              NaN
Algeria              NaN
Andorra              NaN
Angola               NaN
Antigua & Barbuda    NaN
test_country         0.0
test_country2        0.0
dtype: float64

In [31]:
series_added.sub(to_add, fill_value=0)

Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
test_country           0.0
test_country2          0.0
dtype: float64

In [32]:
series_added.divide(to_add, fill_value=1)

Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
test_country           1.0
test_country2          1.0
dtype: float64

In [33]:
series_added.multiply(to_add, fill_value=1)

Albania                 54.0
Algeria                 14.0
Andorra                312.0
Angola                  45.0
Antigua & Barbuda       45.0
test_country         10000.0
test_country2        62500.0
dtype: float64

# calculate varience and std

In [34]:
data.var()

5796.525611532858

In [35]:
nominatior = (data.subtract(data.mean())**2).sum()
nominatior

933240.6234567902

In [36]:
denominator = data.count() - 1
denominator

161

In [37]:
varience = nominatior / denominator
varience

5796.525611532858

# std
* square root of varience

In [38]:
data.std()

76.13491716376171

In [39]:
varience ** (1/2)

76.13491716376171

# cumulative sum

In [40]:
data.sort_values()

country
Thailand             1.0
Solomon Islands      1.0
Brunei               1.0
Haiti                1.0
Cambodia             1.0
                   ...
Luxembourg         271.0
Slovenia           276.0
Denmark            278.0
Andorra            312.0
Portugal           339.0
Name: wine_servings, Length: 162, dtype: float64

In [41]:
data.sum()

8221.0

In [42]:
data.sort_values().cumsum()

country
Thailand              1.0
Solomon Islands       2.0
Brunei                3.0
Haiti                 4.0
Cambodia              5.0
                    ...
Luxembourg         7016.0
Slovenia           7292.0
Denmark            7570.0
Andorra            7882.0
Portugal           8221.0
Name: wine_servings, Length: 162, dtype: float64

# cumulative product

In [43]:
data.prod()

3.427611505218281e+183

In [44]:
data.cumprod()

country
Albania               5.400000e+01
Algeria               7.560000e+02
Andorra               2.358720e+05
Angola                1.061424e+07
Antigua & Barbuda     4.776408e+08
                         ...
Vanuatu              7.140857e+181
Venezuela            2.142257e+182
Vietnam              2.142257e+182
Zambia               8.569029e+182
Zimbabwe             3.427612e+183
Name: wine_servings, Length: 162, dtype: float64

# cumulative min max

In [45]:
data.min()

1.0

In [46]:
data.cummin()

country
Albania              54.0
Algeria              14.0
Andorra              14.0
Angola               14.0
Antigua & Barbuda    14.0
                     ...
Vanuatu               1.0
Venezuela             1.0
Vietnam               1.0
Zambia                1.0
Zimbabwe              1.0
Name: wine_servings, Length: 162, dtype: float64

In [47]:
data.max()

339.0

In [48]:
data.cummax()

country
Albania               54.0
Algeria               54.0
Andorra              312.0
Angola               312.0
Antigua & Barbuda    312.0
                     ...
Vanuatu              339.0
Venezuela            339.0
Vietnam              339.0
Zambia               339.0
Zimbabwe             339.0
Name: wine_servings, Length: 162, dtype: float64

# difference between one element to previous element
* diff(period=0)
* the first discrete element-wise difference in a series
* works with time series data
* a = v1, b = v2, c = v3
    - periods=1:
        - v2 - v1, v3 - v2
    - periods=-1
        - v1 - v2, v2 - v3
    - periods=2
        - v3 - v1, v4 - v2

In [49]:
data.head(5)

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Name: wine_servings, dtype: float64

In [50]:
data.diff().head(5)

country
Albania                NaN
Algeria              -40.0
Andorra              298.0
Angola              -267.0
Antigua & Barbuda      0.0
Name: wine_servings, dtype: float64

# series iteration

In [53]:
for i in data:
    print(i)

54.0
14.0
312.0
45.0
45.0
221.0
11.0
212.0
191.0
5.0
51.0
7.0
36.0
42.0
212.0
8.0
13.0
8.0
8.0
35.0
16.0
1.0
94.0
7.0
7.0
16.0
1.0
4.0
1.0
1.0
1.0
172.0
8.0
3.0
1.0
9.0
74.0
11.0
254.0
5.0
113.0
134.0
1.0
278.0
3.0
26.0
9.0
3.0
1.0
2.0
233.0
59.0
1.0
97.0
37.0
59.0
1.0
149.0
175.0
1.0
218.0
28.0
2.0
2.0
21.0
1.0
1.0
2.0
185.0
78.0
165.0
9.0
237.0
9.0
16.0
1.0
12.0
2.0
1.0
6.0
123.0
62.0
31.0
2.0
56.0
271.0
4.0
1.0
1.0
12.0
18.0
5.0
18.0
8.0
128.0
1.0
5.0
1.0
8.0
19.0
175.0
1.0
1.0
2.0
7.0
129.0
1.0
23.0
18.0
1.0
74.0
21.0
1.0
56.0
339.0
7.0
9.0
18.0
167.0
73.0
32.0
71.0
11.0
24.0
14.0
7.0
127.0
51.0
2.0
11.0
116.0
276.0
1.0
81.0
112.0
7.0
2.0
186.0
28.0
16.0
1.0
86.0
4.0
19.0
5.0
7.0
2.0
7.0
32.0
9.0
45.0
5.0
195.0
1.0
84.0
22.0
8.0
11.0
3.0
1.0
4.0
4.0

In [54]:
for i in data.index:
    print(i)

Albania
Algeria
Andorra
Angola
Antigua & Barbuda
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Barbados
Belarus
Belgium
Belize
Benin
Bolivia
Bosnia-Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Burkina Faso
Cote d'Ivoire
Cabo Verde
Cambodia
Cameroon
Canada
Central African Republic
Chad
Chile
China
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Croatia
Cuba
Cyprus
Czech Republic
DR Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Estonia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hungary
Iceland
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kyrgyzstan
Laos
Latvia
Lebanon
Liberia
Lithuania
Luxembourg
Madagascar
Malawi
Mali
Malta
Mauritius
Mexico
Micronesia
Mongolia
Montenegro
Morocco
Mozambique
Namibia
Nauru
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
Niue
Norway
Oman
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
South Korea
Moldova
Romania
Russian Federation
St. Kitts & Nevis
St. Lucia
St. Vincent & the Grenadines
Samoa
Sao Tome & Principe
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
South Africa
Spain
Suriname
Swaziland
Sweden
Switzerland
Syria
Thailand
Macedonia
Timor-Leste
Togo
Tonga
Trinidad & Tobago
Tunisia
Turkey
Turkmenistan
Tuvalu
Ukraine
United Arab Emirates
United Kingdom
Tanzania
USA
Uruguay
Uzbekistan
Vanuatu
Venezuela
Vietnam
Zambia
Zimbabwe

In [57]:
for i in data.index:
    print(i, data[i])

Albania 54.0
Algeria 14.0
Andorra 312.0
Angola 45.0
Antigua & Barbuda 45.0
Argentina 221.0
Armenia 11.0
Australia 212.0
Austria 191.0
Azerbaijan 5.0
Bahamas 51.0
Bahrain 7.0
Barbados 36.0
Belarus 42.0
Belgium 212.0
Belize 8.0
Benin 13.0
Bolivia 8.0
Bosnia-Herzegovina 8.0
Botswana 35.0
Brazil 16.0
Brunei 1.0
Bulgaria 94.0
Burkina Faso 7.0
Cote d'Ivoire 7.0
Cabo Verde 16.0
Cambodia 1.0
Cameroon 4.0
Canada 1.0
Central African Republic 1.0
Chad 1.0
Chile 172.0
China 8.0
Colombia 3.0
Comoros 1.0
Congo 9.0
Cook Islands 74.0
Costa Rica 11.0
Croatia 254.0
Cuba 5.0
Cyprus 113.0
Czech Republic 134.0
DR Congo 1.0
Denmark 278.0
Djibouti 3.0
Dominica 26.0
Dominican Republic 9.0
Ecuador 3.0
Egypt 1.0
El Salvador 2.0
Equatorial Guinea 233.0
Estonia 59.0
Fiji 1.0
Finland 97.0
France 37.0
Gabon 59.0
Gambia 1.0
Georgia 149.0
Germany 175.0
Ghana 1.0
Greece 218.0
Grenada 28.0
Guatemala 2.0
Guinea 2.0
Guinea-Bissau 21.0
Guyana 1.0
Haiti 1.0
Honduras 2.0
Hungary 185.0
Iceland 78.0
Ireland 165.0
Israel 9.0
Italy 237.0
Jamaica 9.0
Japan 16.0
Jordan 1.0
Kazakhstan 12.0
Kenya 2.0
Kiribati 1.0
Kyrgyzstan 6.0
Laos 123.0
Latvia 62.0
Lebanon 31.0
Liberia 2.0
Lithuania 56.0
Luxembourg 271.0
Madagascar 4.0
Malawi 1.0
Mali 1.0
Malta 12.0
Mauritius 18.0
Mexico 5.0
Micronesia 18.0
Mongolia 8.0
Montenegro 128.0
Morocco 1.0
Mozambique 5.0
Namibia 1.0
Nauru 8.0
Netherlands 19.0
New Zealand 175.0
Nicaragua 1.0
Niger 1.0
Nigeria 2.0
Niue 7.0
Norway 129.0
Oman 1.0
Palau 23.0
Panama 18.0
Papua New Guinea 1.0
Paraguay 74.0
Peru 21.0
Philippines 1.0
Poland 56.0
Portugal 339.0
Qatar 7.0
South Korea 9.0
Moldova 18.0
Romania 167.0
Russian Federation 73.0
St. Kitts & Nevis 32.0
St. Lucia 71.0
St. Vincent & the Grenadines 11.0
Samoa 24.0
Sao Tome & Principe 14.0
Senegal 7.0
Serbia 127.0
Seychelles 51.0
Sierra Leone 2.0
Singapore 11.0
Slovakia 116.0
Slovenia 276.0
Solomon Islands 1.0
South Africa 81.0
Spain 112.0
Suriname 7.0
Swaziland 2.0
Sweden 186.0
Switzerland 28.0
Syria 16.0
Thailand 1.0
Macedonia 86.0
Timor-Leste 4.0
Togo 19.0
Tonga 5.0
Trinidad & Tobago 7.0
Tunisia 2.0
Turkey 7.0
Turkmenistan 32.0
Tuvalu 9.0
Ukraine 45.0
United Arab Emirates 5.0
United Kingdom 195.0
Tanzania 1.0
USA 84.0
Uruguay 22.0
Uzbekistan 8.0
Vanuatu 11.0
Venezuela 3.0
Vietnam 1.0
Zambia 4.0
Zimbabwe 4.0

### items() method
    returns tuple

In [58]:
for i in data.items():
    print(i)

('Albania', 54.0)
('Algeria', 14.0)
('Andorra', 312.0)
('Angola', 45.0)
('Antigua & Barbuda', 45.0)
('Argentina', 221.0)
('Armenia', 11.0)
('Australia', 212.0)
('Austria', 191.0)
('Azerbaijan', 5.0)
('Bahamas', 51.0)
('Bahrain', 7.0)
('Barbados', 36.0)
('Belarus', 42.0)
('Belgium', 212.0)
('Belize', 8.0)
('Benin', 13.0)
('Bolivia', 8.0)
('Bosnia-Herzegovina', 8.0)
('Botswana', 35.0)
('Brazil', 16.0)
('Brunei', 1.0)
('Bulgaria', 94.0)
('Burkina Faso', 7.0)
("Cote d'Ivoire", 7.0)
('Cabo Verde', 16.0)
('Cambodia', 1.0)
('Cameroon', 4.0)
('Canada', 1.0)
('Central African Republic', 1.0)
('Chad', 1.0)
('Chile', 172.0)
('China', 8.0)
('Colombia', 3.0)
('Comoros', 1.0)
('Congo', 9.0)
('Cook Islands', 74.0)
('Costa Rica', 11.0)
('Croatia', 254.0)
('Cuba', 5.0)
('Cyprus', 113.0)
('Czech Republic', 134.0)
('DR Congo', 1.0)
('Denmark', 278.0)
('Djibouti', 3.0)
('Dominica', 26.0)
('Dominican Republic', 9.0)
('Ecuador', 3.0)
('Egypt', 1.0)
('El Salvador', 2.0)
('Equatorial Guinea', 233.0)
('Estonia', 59.0)
('Fiji', 1.0)
('Finland', 97.0)
('France', 37.0)
('Gabon', 59.0)
('Gambia', 1.0)
('Georgia', 149.0)
('Germany', 175.0)
('Ghana', 1.0)
('Greece', 218.0)
('Grenada', 28.0)
('Guatemala', 2.0)
('Guinea', 2.0)
('Guinea-Bissau', 21.0)
('Guyana', 1.0)
('Haiti', 1.0)
('Honduras', 2.0)
('Hungary', 185.0)
('Iceland', 78.0)
('Ireland', 165.0)
('Israel', 9.0)
('Italy', 237.0)
('Jamaica', 9.0)
('Japan', 16.0)
('Jordan', 1.0)
('Kazakhstan', 12.0)
('Kenya', 2.0)
('Kiribati', 1.0)
('Kyrgyzstan', 6.0)
('Laos', 123.0)
('Latvia', 62.0)
('Lebanon', 31.0)
('Liberia', 2.0)
('Lithuania', 56.0)
('Luxembourg', 271.0)
('Madagascar', 4.0)
('Malawi', 1.0)
('Mali', 1.0)
('Malta', 12.0)
('Mauritius', 18.0)
('Mexico', 5.0)
('Micronesia', 18.0)
('Mongolia', 8.0)
('Montenegro', 128.0)
('Morocco', 1.0)
('Mozambique', 5.0)
('Namibia', 1.0)
('Nauru', 8.0)
('Netherlands', 19.0)
('New Zealand', 175.0)
('Nicaragua', 1.0)
('Niger', 1.0)
('Nigeria', 2.0)
('Niue', 7.0)
('Norway', 129.0)
('Oman', 1.0)
('Palau', 23.0)
('Panama', 18.0)
('Papua New Guinea', 1.0)
('Paraguay', 74.0)
('Peru', 21.0)
('Philippines', 1.0)
('Poland', 56.0)
('Portugal', 339.0)
('Qatar', 7.0)
('South Korea', 9.0)
('Moldova', 18.0)
('Romania', 167.0)
('Russian Federation', 73.0)
('St. Kitts & Nevis', 32.0)
('St. Lucia', 71.0)
('St. Vincent & the Grenadines', 11.0)
('Samoa', 24.0)
('Sao Tome & Principe', 14.0)
('Senegal', 7.0)
('Serbia', 127.0)
('Seychelles', 51.0)
('Sierra Leone', 2.0)
('Singapore', 11.0)
('Slovakia', 116.0)
('Slovenia', 276.0)
('Solomon Islands', 1.0)
('South Africa', 81.0)
('Spain', 112.0)
('Suriname', 7.0)
('Swaziland', 2.0)
('Sweden', 186.0)
('Switzerland', 28.0)
('Syria', 16.0)
('Thailand', 1.0)
('Macedonia', 86.0)
('Timor-Leste', 4.0)
('Togo', 19.0)
('Tonga', 5.0)
('Trinidad & Tobago', 7.0)
('Tunisia', 2.0)
('Turkey', 7.0)
('Turkmenistan', 32.0)
('Tuvalu', 9.0)
('Ukraine', 45.0)
('United Arab Emirates', 5.0)
('United Kingdom', 195.0)
('Tanzania', 1.0)
('USA', 84.0)
('Uruguay', 22.0)
('Uzbekistan', 8.0)
('Vanuatu', 11.0)
('Venezuela', 3.0)
('Vietnam', 1.0)
('Zambia', 4.0)
('Zimbabwe', 4.0)

# filtering the series

In [61]:
data.filter(regex='ban')

country
Albania    54.0
Lebanon    31.0
Name: wine_servings, dtype: float64

In [62]:
data.filter(like='ban')

country
Albania    54.0
Lebanon    31.0
Name: wine_servings, dtype: float64

In [63]:
# by values
data[data > 300]

country
Andorra     312.0
Portugal    339.0
Name: wine_servings, dtype: float64

In [66]:
def data200(x):
    return x > 200

In [67]:
data[data200]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

# where method

In [70]:
data.where(lambda x: x > 300).dropna()

country
Andorra     312.0
Portugal    339.0
Name: wine_servings, dtype: float64

In [88]:
data.where(lambda x: x < 50).dropna()

country
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
Azerbaijan            5.0
Bahrain               7.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 113, dtype: float64

# mask method
    where th econdition is true

In [89]:
data.mask(lambda x: x < 300).dropna()

country
Andorra     312.0
Portugal    339.0
Name: wine_servings, dtype: float64

# transforming with update(), apply(), map()

#### spot vs global

In [90]:
data.loc['Algeria']

200.0

In [91]:
data.loc['Algeria'] = 100

In [92]:
data.loc['Algeria']

100.0

#### update()

In [93]:
data.update(pd.Series(data=[200, 100], index=['Algeria', 'Albania']))

In [94]:
data.head()

country
Albania              100.0
Algeria              200.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Name: wine_servings, dtype: float64

#### apply()

In [95]:
data.apply(lambda x: x**2)

country
Albania              10000.0
Algeria              40000.0
Andorra              97344.0
Angola                2025.0
Antigua & Barbuda     2025.0
                      ...
Vanuatu                121.0
Venezuela                9.0
Vietnam                  1.0
Zambia                  16.0
Zimbabwe                16.0
Name: wine_servings, Length: 162, dtype: float64

In [97]:
import numpy as np
data.apply(np.square)

country
Albania              10000.0
Algeria              40000.0
Andorra              97344.0
Angola                2025.0
Antigua & Barbuda     2025.0
                      ...
Vanuatu                121.0
Venezuela                9.0
Vietnam                  1.0
Zambia                  16.0
Zimbabwe                16.0
Name: wine_servings, Length: 162, dtype: float64

In [102]:
def multiply_by_self(x):
    return x * x

In [103]:
data.apply(multiply_by_self)

country
Albania              10000.0
Algeria              40000.0
Andorra              97344.0
Angola                2025.0
Antigua & Barbuda     2025.0
                      ...
Vanuatu                121.0
Venezuela                9.0
Vietnam                  1.0
Zambia                  16.0
Zimbabwe                16.0
Name: wine_servings, Length: 162, dtype: float64