# Pandas

In [1]:
import pandas as pd

In [4]:
dataSeries = pd.read_csv("https://andybek.com/pandas-drinks", usecols=['wine_servings', 'country'], index_col='country').squeeze()
dataSeries.head(5)

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [6]:
# remove null
data = dataSeries[dataSeries.notnull()]
data.head(5)

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Name: wine_servings, dtype: float64

In [7]:
data.sum()

8221.0

In [11]:
data.hasnans

False

# index vy min/max
* idxmin(): 
    - returns the label od the row with minimum value
* idxmax(): 
    - returns the label of the row with maximum value

* [note]: if multiple min/max value occur only return the first value.

In [12]:
# most wine consumed country
data.max()

339.0

In [13]:
data[data == data.max()]

country
Portugal    339.0
Name: wine_servings, dtype: float64

In [14]:
data.idxmax()

'Portugal'

In [25]:
data[data.idxmax()]

339.0

In [15]:
# minimum wine consumed country
data.min()

1.0

In [16]:
data.idxmin()

'Brunei'

In [23]:
data[data == data.min()].value_counts()

wine_servings
1.0    28
Name: count, dtype: int64

In [24]:
data[data == data.min()]

country
Brunei                      1.0
Cambodia                    1.0
Canada                      1.0
Central African Republic    1.0
Chad                        1.0
Comoros                     1.0
DR Congo                    1.0
Egypt                       1.0
Fiji                        1.0
Gambia                      1.0
Ghana                       1.0
Guyana                      1.0
Haiti                       1.0
Jordan                      1.0
Kiribati                    1.0
Malawi                      1.0
Mali                        1.0
Morocco                     1.0
Namibia                     1.0
Nicaragua                   1.0
Niger                       1.0
Oman                        1.0
Papua New Guinea            1.0
Philippines                 1.0
Solomon Islands             1.0
Thailand                    1.0
Tanzania                    1.0
Vietnam                     1.0
Name: wine_servings, dtype: float64

# sorting
* sort_values()

In [27]:
data.sort_values(ascending=False)

country
Portugal                    339.0
Andorra                     312.0
Denmark                     278.0
Slovenia                    276.0
Luxembourg                  271.0
                            ...
Jordan                        1.0
Solomon Islands               1.0
Central African Republic      1.0
Haiti                         1.0
Chad                          1.0
Name: wine_servings, Length: 162, dtype: float64

In [31]:
data.sort_values(ascending=False)

country
Portugal                    339.0
Andorra                     312.0
Denmark                     278.0
Slovenia                    276.0
Luxembourg                  271.0
                            ...
Jordan                        1.0
Solomon Islands               1.0
Central African Republic      1.0
Haiti                         1.0
Chad                          1.0
Name: wine_servings, Length: 162, dtype: float64

# largest/smallest 
* nlargest()
* nsmallest()

In [34]:
data.sort_values(ascending=False)[:10]

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Name: wine_servings, dtype: float64

In [35]:
data.nlargest(10)

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Name: wine_servings, dtype: float64

In [36]:
data.nsmallest(10)

country
Brunei                      1.0
Cambodia                    1.0
Canada                      1.0
Central African Republic    1.0
Chad                        1.0
Comoros                     1.0
DR Congo                    1.0
Egypt                       1.0
Fiji                        1.0
Gambia                      1.0
Name: wine_servings, dtype: float64