In [23]:
data_source = "https://andybek.com/pandas-drinks"

In [24]:
# import pandas
import pandas as pd

In [25]:
# read data
original_data = pd.read_csv(data_source)
original_data.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9

In [26]:
# create series
bear = pd.read_csv(data_source, usecols=['beer_servings', 'country'], index_col='country').squeeze()
bear.head(5)

country
Afghanistan      NaN
Albania         89.0
Algeria         25.0
Andorra        245.0
Angola         217.0
Name: beer_servings, dtype: float64

In [27]:
# check nulls
bear.hasnans

True

In [33]:
# total rows
bear.size

193

In [29]:
# count nulls
bear.isnull().sum()

15

In [34]:
193-15

178

In [37]:
# remove nulls
bear.dropna(inplace=True)

In [38]:
bear.size

178

In [39]:
bear.hasnans

False