# Series
_a sequence of values with associated labels_
* one dimensional
* labeled arrays
* any data type

In [1]:
import pandas as pd

### Check pandas version

In [2]:
pd.__version__

'2.2.2'

### Python list to series

In [3]:
python_list = [87, 45, 65, 97, 12, 35]

In [4]:
type(python_list)

list

In [5]:
to_series = pd.Series(python_list)

In [6]:
to_series

0    87
1    45
2    65
3    97
4    12
5    35
dtype: int64

In [7]:
books = ['Fooled by randomness', 'The creative code', 'MathQBank']

In [8]:
book_series = pd.Series(books)

In [9]:
book_series

0    Fooled by randomness
1       The creative code
2               MathQBank
dtype: object

In [10]:
price = [12, 8, 7]

In [11]:
price_int_series = pd.Series(price)

In [12]:
price_int_series

0    12
1     8
2     7
dtype: int64

### Support mix data type

In [13]:
book_and_price = [books, price]

In [14]:
book_and_price_series = pd.Series(book_and_price)

In [15]:
book_and_price_series

0    [Fooled by randomness, The creative code, Math...
1                                           [12, 8, 7]
dtype: object

### Series form Python dictionary

In [16]:
books_dict = {'Fooled by randomness': 12,
              'The creative code': 8, 
              'MathQBank': 7}

In [17]:
books_dict_to_series = pd.Series(books_dict)

In [18]:
books_dict_to_series

Fooled by randomness    12
The creative code        8
MathQBank                7
dtype: int64

### specify data type
* dtype='type'
* strings are always object

In [19]:
price_int_series

0    12
1     8
2     7
dtype: int64

In [20]:
int_to_float = pd.Series(price_int_series, dtype='float')

In [21]:
int_to_float

0    12.0
1     8.0
2     7.0
dtype: float64

### dtype('0')
* dtype('O') means Pandas string
* 'O' stands for object

In [22]:
book_series

0    Fooled by randomness
1       The creative code
2               MathQBank
dtype: object

In [23]:
book_series.dtype

dtype('O')

## Index

 * custom index

In [24]:
pd.Series(data=books, index=['B1','B2','B3'])

B1    Fooled by randomness
B2       The creative code
B3               MathQBank
dtype: object

In [25]:
book_series.index

RangeIndex(start=0, stop=3, step=1)

In [26]:
books.index

## name attribute

In [27]:
book_series.name

#### nothing back, we can verify it using boolean

In [28]:
book_series.name == None

True

#### lets give it a name

In [29]:
book_series.name = 'book_list'

In [30]:
book_series

0    Fooled by randomness
1       The creative code
2               MathQBank
Name: book_list, dtype: object

#### series name becomes column name in dataframe

#### index can also have name

In [31]:
book_series.index.name

In [32]:
book_series.index.name == None

True

In [33]:
book_series.index.name = 'Index_number'

In [34]:
book_series

Index_number
0    Fooled by randomness
1       The creative code
2               MathQBank
Name: book_list, dtype: object

### Exercise

In [35]:
actor_name = ['actor_a', 'actor_b', 'actor_c', 'actor_d']

In [36]:
actor_age = [34, 40.5, 67, 25.7]

In [37]:
actors = pd.Series(actor_age, index=actor_name, name='actors_age')

In [38]:
actors

actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
Name: actors_age, dtype: float64

In [39]:
actors.name = "actors_age"

In [40]:
actors.index.name = 'name'

In [41]:
actors

name
actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
Name: actors_age, dtype: float64

### create dictionary form list

In [42]:
# actor_name: actor_age
actor_dict = dict(zip(actor_name, actor_age))
    
actor_dict

{'actor_a': 34, 'actor_b': 40.5, 'actor_c': 67, 'actor_d': 25.7}

In [43]:
actorseriesfromdict = pd.Series(actor_dict)

In [44]:
actorseriesfromdict

actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
dtype: float64

In [45]:
actorseriesfromdict.name = 'actor'

In [46]:
actorseriesfromdict.index.name = 'actor name'

In [47]:
actorseriesfromdict

actor name
actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
Name: actor, dtype: float64

### dictionary comprehension

In [48]:
{name:age for name,age in zip(actor_name, actor_age)}

{'actor_a': 34, 'actor_b': 40.5, 'actor_c': 67, 'actor_d': 25.7}

In [49]:
pd.Series({name:age for name,age in zip(actor_name, actor_age)})

actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
dtype: float64

### head and tail

In [50]:
range_series = pd.Series(range(50))

In [53]:
range_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [56]:
range_series.tail(n=7)

43    43
44    44
45    45
46    46
47    47
48    48
49    49
dtype: int64

In [55]:
len(range_series)

50

In [57]:
pd.options.display.min_rows = 20

In [58]:
range_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
dtype: int64

## Extractig by index position

In [60]:
from string import ascii_lowercase

In [61]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [62]:
ascii_lowercase[0]

'a'

In [63]:
ascii_lowercase[10]

'k'

In [65]:
ascii_lowercase[25]

'z'

In [66]:
ascii_series = pd.Series(ascii_lowercase)

In [67]:
ascii_series

0    abcdefghijklmnopqrstuvwxyz
dtype: object

* this is not what i expected. lets convert it to a list to breakdown by each letter

In [69]:
letters = list(ascii_lowercase)

In [70]:
letter_series = pd.Series(letters)

In [72]:
letter_series.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [73]:
len(letter_series)

26

In [74]:
letter_series[7]

'h'

* What is the first letter?
* What is the 11th letter?
* What are the sixth through tenth letter?
* what are the last ten letter?
* what are the first 3 letter?

In [77]:
first_letter = letter_series[0]
first_letter

'a'

In [93]:
eleventh_letter = letter_series[10]
eleventh_letter

'k'

In [95]:
six_to_ten = letter_series[5:10]
six_to_ten

5    f
6    g
7    h
8    i
9    j
dtype: object

In [92]:
last_10_letter = letter_series.tail(10)
last_10_letter

16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [114]:
last_10_letter = letter_series[-10:]
last_10_letter

16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [94]:
first_3 = letter_series[0:3]
first_3

0    a
1    b
2    c
dtype: object

### label indexing

In [96]:
from string import ascii_uppercase

In [99]:
uppercase = list(ascii_uppercase)

In [109]:
data = pd.Series(data=list(ascii_uppercase), index=map(lambda x: 'label_' + x, list(ascii_lowercase)))

In [110]:
data.head(10)

label_a    A
label_b    B
label_c    C
label_d    D
label_e    E
label_f    F
label_g    G
label_h    H
label_i    I
label_j    J
dtype: object

In [111]:
data[0]

C:\Users\tasni\AppData\Local\Temp\ipykernel_1880\1743741225.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[0]

'A'

In [112]:
data['label_a']

'A'

### prefix suffix

In [117]:
letter_series.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [118]:
letter_series.add_prefix('label_')

label_0     a
label_1     b
label_2     c
label_3     d
label_4     e
label_5     f
label_6     g
label_7     h
label_8     i
label_9     j
label_10    k
label_11    l
label_12    m
label_13    n
label_14    o
label_15    p
label_16    q
label_17    r
label_18    s
label_19    t
label_20    u
label_21    v
label_22    w
label_23    x
label_24    y
label_25    z
dtype: object

In [122]:
letter_series.add_suffix('_ending')

0_ending     a
1_ending     b
2_ending     c
3_ending     d
4_ending     e
5_ending     f
6_ending     g
7_ending     h
8_ending     i
9_ending     j
10_ending    k
11_ending    l
12_ending    m
13_ending    n
14_ending    o
15_ending    p
16_ending    q
17_ending    r
18_ending    s
19_ending    t
20_ending    u
21_ending    v
22_ending    w
23_ending    x
24_ending    y
25_ending    z
dtype: object

In [121]:
letter_series.head()

0    a
1    b
2    c
3    d
4    e
dtype: object