# Series
_a sequence of values with associated labels_
* one dimensional
* labeled arrays
* any data type

In [3]:
import pandas as pd

### Check pandas version

In [4]:
pd.__version__

'2.2.2'

### Python list to series

In [8]:
python_list = [87, 45, 65, 97, 12, 35]

In [9]:
type(python_list)

list

In [10]:
to_series = pd.Series(python_list)

In [11]:
to_series

0    87
1    45
2    65
3    97
4    12
5    35
dtype: int64

In [12]:
books = ['Fooled by randomness', 'The creative code', 'MathQBank']

In [13]:
book_series = pd.Series(books)

In [14]:
book_series

0    Fooled by randomness
1       The creative code
2               MathQBank
dtype: object

In [15]:
price = [12, 8, 7]

In [16]:
price_int_series = pd.Series(price)

In [17]:
price_int_series

0    12
1     8
2     7
dtype: int64

### Support mix data type

In [18]:
book_and_price = [books, price]

In [19]:
book_and_price_series = pd.Series(book_and_price)

In [20]:
book_and_price_series

0    [Fooled by randomness, The creative code, Math...
1                                           [12, 8, 7]
dtype: object

### Series form Python dictionary

In [21]:
books_dict = {'Fooled by randomness': 12,
              'The creative code': 8, 
              'MathQBank': 7}

In [22]:
books_dict_to_series = pd.Series(books_dict)

In [23]:
books_dict_to_series

Fooled by randomness    12
The creative code        8
MathQBank                7
dtype: int64

### specify data type
* dtype='type'
* strings are always object

In [24]:
price_int_series

0    12
1     8
2     7
dtype: int64

In [25]:
int_to_float = pd.Series(price_int_series, dtype='float')

In [26]:
int_to_float

0    12.0
1     8.0
2     7.0
dtype: float64

### dtype('0')
* dtype('O') means Pandas string
* 'O' stands for object

In [27]:
book_series

0    Fooled by randomness
1       The creative code
2               MathQBank
dtype: object

In [28]:
book_series.dtype

dtype('O')

## Index

 * custom index

In [31]:
pd.Series(data=books, index=['B1','B2','B3'])

B1    Fooled by randomness
B2       The creative code
B3               MathQBank
dtype: object

In [36]:
book_series.index

RangeIndex(start=0, stop=3, step=1)

In [38]:
books.index

## name attribute

In [39]:
book_series.name

#### nothing back, we can verify it using boolean

In [41]:
book_series.name == None

True

#### lets give it a name

In [42]:
book_series.name = 'book_list'

In [43]:
book_series

0    Fooled by randomness
1       The creative code
2               MathQBank
Name: book_list, dtype: object

#### series name becomes column name in dataframe

#### index can also have name

In [44]:
book_series.index.name

In [45]:
book_series.index.name == None

True

In [46]:
book_series.index.name = 'Index_number'

In [47]:
book_series

Index_number
0    Fooled by randomness
1       The creative code
2               MathQBank
Name: book_list, dtype: object

### Exercise

In [52]:
actor_name = ['actor_a', 'actor_b', 'actor_c', 'actor_d']

In [53]:
actor_age = [34, 40.5, 67, 25.7]

In [107]:
actors = pd.Series(actor_age, index=actor_name, name='actors_age')

In [108]:
actors

actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
Name: actors_age, dtype: float64

In [65]:
actors.name = "actors_age"

In [109]:
actors.index.name = 'name'

In [110]:
actors

name
actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
Name: actors_age, dtype: float64

### create dictionary form list

In [99]:
# actor_name: actor_age
actor_dict = dict(zip(actor_name, actor_age))
    
actor_dict

{'actor_a': 34, 'actor_b': 40.5, 'actor_c': 67, 'actor_d': 25.7}

In [101]:
actorseriesfromdict = pd.Series(actor_dict)

In [102]:
actorseriesfromdict

actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
dtype: float64

In [103]:
actorseriesfromdict.name = 'actor'

In [104]:
actorseriesfromdict.index.name = 'actor name'

In [105]:
actorseriesfromdict

actor name
actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
Name: actor, dtype: float64

### dictionary comprehension

In [112]:
{name:age for name,age in zip(actor_name, actor_age)}

{'actor_a': 34, 'actor_b': 40.5, 'actor_c': 67, 'actor_d': 25.7}

In [113]:
pd.Series({name:age for name,age in zip(actor_name, actor_age)})

actor_a    34.0
actor_b    40.5
actor_c    67.0
actor_d    25.7
dtype: float64